force-app/main/default/flows/Path_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_My_Path_Object_to_Collection</name>
        <label>Add My Path Object to Collection</label>
        <locationX>1458</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>Created_My_Path_Objects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_My_Path_Object</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Selected_Path_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_My_Step_to_Collection</name>
        <label>Add My Step to Collection</label>
        <locationX>1694</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>CreatedMyStepRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_My_Step_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Path_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_My_Path_for_Current_Path</name>
        <label>Create My Path for Current Path</label>
        <locationX>1581</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>Current_My_Path_Object.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_My_Path_Object.Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currently_Selected_Path.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_My_Path_Object.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currently_Selected_Path.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_My_Path_Object.Target_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Path_Target_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_My_Path_Object_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_My_Step_Record</name>
        <label>Create My Step Record</label>
        <locationX>2086</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>Current_My_Step_Record.My_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_My_Path_Object.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_My_Step_Record.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Step_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_My_Step_Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Step_Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_My_Step_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Step_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_My_Step_Record.Detailed_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Step_Record.Detailed_Instructions_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_My_Step_Record.Assigned_Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_My_Step_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assigned_Team_Member_Name</name>
        <label>Set Assigned Team Member Name</label>
        <locationX>1925</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>AssignedTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact_Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact_Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assignment_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignedTeamMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assignment_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> has been assigned the following Paths: </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_My_Path_Objects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>418</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>Error_Message_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to find contact, please try adjusting search parameters.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Search_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_0</name>
        <label>Set Error Message</label>
        <locationX>706</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>Error_Message_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to find contact, please try adjusting search parameters.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Search_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_mentor_field_on_contact</name>
        <label>Set mentor field on contact</label>
        <locationX>1177</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Mentor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mentor_Assignment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Contact_First_Name_Field</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FirstName</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contact_First_Name_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>First Name</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contact_Last_Name_Field</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LastName</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contact_Last_Name_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Last Name</stringValue>
        </value>
    </constants>
    <constants>
        <name>Path_Field_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </constants>
    <constants>
        <name>Path_Name_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Path Name</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_the_contact_have_a_mentor</name>
        <label>Does the contact have a mentor?</label>
        <locationX>895</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Contact_Search_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mentor</defaultConnectorLabel>
        <rules>
            <name>Contact_Has_a_mentor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Mentor__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.Mentor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Possible_Flows</targetReference>
            </connector>
            <label>Contact Has a mentor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Contact_found</name>
        <label>Was a Contact found</label>
        <locationX>598</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact not found</defaultConnectorLabel>
        <rules>
            <name>Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_contact_have_a_mentor</targetReference>
            </connector>
            <label>Contact found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Contact_found_0</name>
        <label>Was a Contact found</label>
        <locationX>894</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact not found</defaultConnectorLabel>
        <rules>
            <name>Contact_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_mentor_field_on_contact</targetReference>
            </connector>
            <label>Contact found</label>
        </rules>
    </decisions>
    <description>JF - Added target date screen</description>
    <formulas>
        <name>Error_Message_Length</name>
        <dataType>Number</dataType>
        <expression>LEN({!Error_Message})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Path Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Path Assignment Flow</label>
    <loops>
        <name>Iterate_Over_Selected_Path_Items</name>
        <label>Iterate Over Selected Path Items</label>
        <locationX>1581</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>Currently_Selected_Path</assignNextValueToReference>
        <collectionReference>Selected_Path_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Path_Target_Due_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_My_Path_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Through_My_Path_Objects</name>
        <label>Iterate Through My Path Objects</label>
        <locationX>2103</locationX>
        <locationY>53</locationY>
        <assignNextValueToReference>Current_My_Path_Object</assignNextValueToReference>
        <collectionReference>Created_My_Path_Objects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Step_Records_associated_with_Current_Path</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_My_Step_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Path_Records</name>
        <label>Iterate through Path Records</label>
        <locationX>1928</locationX>
        <locationY>315</locationY>
        <assignNextValueToReference>Current_Step_Record</assignNextValueToReference>
        <collectionReference>Get_All_Step_Records_associated_with_Current_Path</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_My_Step_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Through_My_Path_Objects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_My_Path_Records</name>
        <label>Create My Path Records</label>
        <locationX>1759</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Set_Assigned_Team_Member_Name</targetReference>
        </connector>
        <inputReference>Created_My_Path_Objects</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_My_Step_Records</name>
        <label>Create My Step Records</label>
        <locationX>2380</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Assignment_Summary_Screen</targetReference>
        </connector>
        <inputReference>CreatedMyStepRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Step_Records_associated_with_Current_Path</name>
        <label>Get All Step Records associated with Current Path</label>
        <locationX>2230</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Path_Records</targetReference>
        </connector>
        <filters>
            <field>Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_My_Path_Object.Path__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>393</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Contact_found</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name_Input</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_0</name>
        <label>Get Contact Record</label>
        <locationX>902</locationX>
        <locationY>457</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Contact_found_0</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name_Input_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name_Input_0</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Possible_Flows</name>
        <label>Get Possible Paths</label>
        <locationX>1177</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Path_Selection_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Mentor_Assignment</name>
        <label>Update Mentor Assignment</label>
        <locationX>1177</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Get_Possible_Flows</targetReference>
        </connector>
        <inputReference>Get_Contact_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Assignment_Summary_Screen</name>
        <label>Assignment Summary Screen</label>
        <locationX>2657</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Assignment_Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Assignment Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Assignment_Summary_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_Table</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom1</name>
                <value>
                    <elementReference>Selected_Path_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <elementReference>Path_Field_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <elementReference>Path_Name_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Search_Screen</name>
        <label>Contact Search Screen</label>
        <locationX>202</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>Contact_Search_Header</name>
            <fieldText>&lt;p&gt;Search for the contact which you want to assign a path. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 1, 1);&quot;&gt;{!Error_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Error_Message_Length</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Name_Input</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name_Input</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Search_Screen_0</name>
        <label>Contact Search Screen</label>
        <locationX>902</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Record_0</targetReference>
        </connector>
        <fields>
            <name>Contact_Search_Header_0</name>
            <fieldText>&lt;p&gt;Search for a mentor to assign to {!Get_Contact_Record.FirstName} {!Get_Contact_Record.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Error_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Error_Message_Length</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Name_Input_0</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name_Input_0</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Path_Selection_Screen</name>
        <label>Path Selection Screen</label>
        <locationX>1360</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_Over_Selected_Path_Items</targetReference>
        </connector>
        <fields>
            <name>Path_Display_Screen</name>
            <fieldText>&lt;p&gt;Select the Path(s) you wish to assign to {!First_Name_Input} {!Last_Name_Input}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Path_Selection_Table</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom1</name>
                <value>
                    <elementReference>Get_Possible_Flows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <elementReference>Path_Field_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <elementReference>Path_Name_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_custom1</name>
                <value>
                    <elementReference>Selected_Path_Items</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Path_Items</assignToReference>
                <name>selectedRows_custom1</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Path_Target_Due_Date</name>
        <label>Path Target Due Date</label>
        <locationX>1715</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_My_Path_for_Current_Path</targetReference>
        </connector>
        <fields>
            <name>Current_Path_Header</name>
            <fieldText>&lt;p&gt;Please select a target date for this path:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Currently_Selected_Path.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Path_Target_Date</name>
            <dataType>Date</dataType>
            <fieldText>Path Target Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_Search_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AssignedTeamMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Assignment_Summary_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Created_My_Path_Objects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>My_Path__c</objectType>
    </variables>
    <variables>
        <name>CreatedMyStepRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>My_Step__c</objectType>
    </variables>
    <variables>
        <name>Current_My_Path_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>My_Path__c</objectType>
    </variables>
    <variables>
        <name>Current_My_Step_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>My_Step__c</objectType>
    </variables>
    <variables>
        <name>Current_Path_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Path__c</objectType>
    </variables>
    <variables>
        <name>Current_Step_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Step__c</objectType>
    </variables>
    <variables>
        <name>Currently_Selected_Path</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Path__c</objectType>
    </variables>
    <variables>
        <name>Error_Message_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Mentor_Contact_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Selected_Mentor_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Selected_Path_Items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Path__c</objectType>
    </variables>
</Flow>
