force-app/main/default/flows/TestFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Change_Admin_Path_True</name>
        <label>Change Admin Path True</label>
        <locationX>1157</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>AdminBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_New_Hire_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Architect_Path_True</name>
        <label>Change Architect Path True</label>
        <locationX>1581</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>ArchitectBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_New_Hire_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_BA_Path_True</name>
        <label>Change BA Path True</label>
        <locationX>1456</locationX>
        <locationY>934</locationY>
        <assignmentItems>
            <assignToReference>BABool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_New_Hire_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Developer_Path_True</name>
        <label>Change Developer Path True</label>
        <locationX>1157</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>DeveloperBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_New_Hire_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Label says it all</description>
        <name>Change_New_Hire_Path_True</name>
        <label>Change New Hire Path True</label>
        <locationX>376</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>NewHireBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_New_Hire_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_QA_Path_True</name>
        <label>Change QA Path True</label>
        <locationX>50</locationX>
        <locationY>1153</locationY>
        <assignmentItems>
            <assignToReference>QABool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_New_Hire_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Hire_My_Steps_Names</name>
        <label>Create New Hire My Steps Names</label>
        <locationX>703</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>NewHirePathMyStepNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prerequisites</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHirePathMyStepNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Welcome</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHirePathMyStepNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Agile Guidance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHirePathMyStepNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Salesforce Guidance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHirePathMyStepNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Certification Guidance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Hire_My_Step_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>My_Step_Counter</name>
        <label>My Step Counter</label>
        <locationX>860</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>MyStepCountNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_My_Step_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Admin_Path_Exists</name>
        <label>Check If Admin Path Exists</label>
        <locationX>1471</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Admin_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_Admin_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Admin_My_Path</targetReference>
            </connector>
            <label>Check If Admin Record Exists</label>
        </rules>
        <rules>
            <name>There_is_an_admin_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_Admin_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Admin_Path_True</targetReference>
            </connector>
            <label>There is an admin record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Architect_Path_Exists</name>
        <label>Check If Architect Path Exists</label>
        <locationX>1786</locationX>
        <locationY>563</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Architect_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_Architect_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Architect_My_Path</targetReference>
            </connector>
            <label>Check If Architect Record Exists</label>
        </rules>
        <rules>
            <name>There_is_an_architect_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_Architect_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Architect_Path_True</targetReference>
            </connector>
            <label>There is an architect record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_BA_Path_Exists</name>
        <label>Check If BA Path Exists</label>
        <locationX>1668</locationX>
        <locationY>1089</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_BA_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_BA_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BA_My_Path</targetReference>
            </connector>
            <label>Check If BA Records Exist</label>
        </rules>
        <rules>
            <name>There_is_a_ba_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_BA_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_BA_Path_True</targetReference>
            </connector>
            <label>There is a ba record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Developer_Path_Exists</name>
        <label>Check If Developer Path Exists</label>
        <locationX>1424</locationX>
        <locationY>1432</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Developer_Records_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_Developer_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Developer_My_Path</targetReference>
            </connector>
            <label>Check If Developer Records Exists</label>
        </rules>
        <rules>
            <name>There_is_a_developer_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_Developer_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Developer_Path_True</targetReference>
            </connector>
            <label>There is a developer record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_New_Hire_Path_Exists</name>
        <label>Check If New Hire Path Exists</label>
        <locationX>269</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_New_Hire_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_New_Hire_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Hire_My_Path</targetReference>
            </connector>
            <label>Check If New Hire Record Exists</label>
        </rules>
        <rules>
            <name>There_is_a_new_hire_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_New_Hire_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_New_Hire_Path_True</targetReference>
            </connector>
            <label>There is a new hire record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_QA_Path_Exists</name>
        <label>Check If QA Path Exists</label>
        <locationX>256</locationX>
        <locationY>1283</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_QA_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_QA_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_QA_My_Path</targetReference>
            </connector>
            <label>Check If QA Record Exists</label>
        </rules>
        <rules>
            <name>There_is_a_qa_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_QA_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_QA_Path_True</targetReference>
            </connector>
            <label>There is a qa record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Scrum_Master_Path_Exists</name>
        <label>Check If Scrum Master Path Exists</label>
        <locationX>274</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Scrum_Master_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Where_Scrum_Master_Path_Is_True</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scrum_Master_My_Path</targetReference>
            </connector>
            <label>Check If Scrum Master Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_New_Hire_Path</name>
        <label>Evaluate Paths</label>
        <locationX>1257</locationX>
        <locationY>794</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Hire_Path_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Hire_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewHireBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Where_New_Hire_Path_Is_True</targetReference>
            </connector>
            <label>New Hire Path Check</label>
        </rules>
        <rules>
            <name>Admin_Path_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Admin_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdminBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Where_Admin_Path_Is_True</targetReference>
            </connector>
            <label>Admin Path Check</label>
        </rules>
        <rules>
            <name>Architect_Path_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Architect_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArchitectBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Where_Architect_Path_Is_True</targetReference>
            </connector>
            <label>Architect Path Check</label>
        </rules>
        <rules>
            <name>Business_Analyst_Path_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Analyst_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BABool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Where_BA_Path_Is_True</targetReference>
            </connector>
            <label>Business Analyst Path Check</label>
        </rules>
        <rules>
            <name>Developer_Path_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Developer_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeveloperBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Where_Developer_Path_Is_True</targetReference>
            </connector>
            <label>Developer Path Check</label>
        </rules>
        <rules>
            <name>Quality_Assurance_Path_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quality_Assurance_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QABool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Where_QA_Is_True</targetReference>
            </connector>
            <label>Quality Assurance Path Check</label>
        </rules>
        <rules>
            <name>Scrum_Master_Path_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Scrum_Master_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Where_Scrum_Master_Path_Is_True</targetReference>
            </connector>
            <label>Scrum Master Path Check</label>
        </rules>
    </decisions>
    <description>all bools work, now to implement mysteps fully :)</description>
    <interviewLabel>TestFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign My Paths Flow</label>
    <loops>
        <name>Create_New_Hire_My_Step_Records</name>
        <label>Create New Hire My Step Records Loop</label>
        <locationX>855</locationX>
        <locationY>370</locationY>
        <collectionReference>NewHirePathMyStepNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>My_Step_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_New_Hire_Path_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Admin_My_Path</name>
        <label>Create Admin My Path</label>
        <locationX>1737</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>Change_Admin_Path_True</targetReference>
        </connector>
        <inputAssignments>
            <field>Associate__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </inputAssignments>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Architect_My_Path</name>
        <label>Create Architect My Path</label>
        <locationX>2044</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Change_Architect_Path_True</targetReference>
        </connector>
        <inputAssignments>
            <field>Associate__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <stringValue>Architect</stringValue>
            </value>
        </inputAssignments>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_BA_My_Path</name>
        <label>Create BA My Path</label>
        <locationX>2027</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>Change_BA_Path_True</targetReference>
        </connector>
        <inputAssignments>
            <field>Associate__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <stringValue>BA</stringValue>
            </value>
        </inputAssignments>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Developer_My_Path</name>
        <label>Create Developer My Path</label>
        <locationX>1711</locationX>
        <locationY>1304</locationY>
        <connector>
            <targetReference>Change_Developer_Path_True</targetReference>
        </connector>
        <inputAssignments>
            <field>Associate__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <stringValue>Developer</stringValue>
            </value>
        </inputAssignments>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_My_Step_Record</name>
        <label>Create My Step Record</label>
        <locationX>1062</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Create_New_Hire_My_Step_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <stringValue>New Hire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Path__c</field>
            <value>
                <elementReference>Create_New_Hire_My_Path</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Step_Number__c</field>
            <value>
                <elementReference>MyStepCountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Create_New_Hire_My_Step_Records</elementReference>
            </value>
        </inputAssignments>
        <object>My_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Hire_My_Path</name>
        <label>Create New Hire My Path</label>
        <locationX>526</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Create_New_Hire_My_Steps_Names</targetReference>
        </connector>
        <inputAssignments>
            <field>Associate__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <stringValue>New Hire</stringValue>
            </value>
        </inputAssignments>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_QA_My_Path</name>
        <label>Create QA My Path</label>
        <locationX>326</locationX>
        <locationY>1158</locationY>
        <connector>
            <targetReference>Change_QA_Path_True</targetReference>
        </connector>
        <inputAssignments>
            <field>Associate__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <stringValue>QA</stringValue>
            </value>
        </inputAssignments>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Scrum_Master_My_Path</name>
        <label>Create Scrum Master My Path</label>
        <locationX>545</locationX>
        <locationY>714</locationY>
        <inputAssignments>
            <field>Associate__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <stringValue>Scrum Master</stringValue>
            </value>
        </inputAssignments>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Records_Where_Admin_Path_Is_True</name>
        <label>Get Records Where Admin Path Is True</label>
        <locationX>1318</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Admin_Path_Exists</targetReference>
        </connector>
        <filters>
            <field>Associate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Where_Architect_Path_Is_True</name>
        <label>Get Records Where Architect Path Is True</label>
        <locationX>1797</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Architect_Path_Exists</targetReference>
        </connector>
        <filters>
            <field>Associate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Architect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Where_BA_Path_Is_True</name>
        <label>Get Records Where BA Path Is True</label>
        <locationX>1677</locationX>
        <locationY>869</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_BA_Path_Exists</targetReference>
        </connector>
        <filters>
            <field>Associate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Where_Developer_Path_Is_True</name>
        <label>Get Records Where Developer Path Is True</label>
        <locationX>1431</locationX>
        <locationY>1206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Developer_Path_Exists</targetReference>
        </connector>
        <filters>
            <field>Associate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Developer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Where_New_Hire_Path_Is_True</name>
        <label>Get Records Where New Hire Path Is True</label>
        <locationX>88</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_New_Hire_Path_Exists</targetReference>
        </connector>
        <filters>
            <field>Associate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Hire</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Where_QA_Is_True</name>
        <label>Get Records Where QA Is True</label>
        <locationX>616</locationX>
        <locationY>1281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_QA_Path_Exists</targetReference>
        </connector>
        <filters>
            <field>Associate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Where_Scrum_Master_Path_Is_True</name>
        <label>Get Records Where Scrum Master Path Is True</label>
        <locationX>68</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Scrum_Master_Path_Exists</targetReference>
        </connector>
        <filters>
            <field>Associate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scrum Master</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>My_Path__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>771</locationX>
        <locationY>849</locationY>
        <connector>
            <targetReference>Evaluate_New_Hire_Path</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AdminBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ArchitectBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BABool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DeveloperBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MyStepCountNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Checks if new hire path has been through</description>
        <name>NewHireBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewHirePathMyStepNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QABool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ScrumMasterBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
